{% extends "app/layout.html" %}

{% block content %}

<head>
<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
<script>
    function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
 
        reader.onload = function (e) {
            $('#blah')
                .attr('src', e.target.result)
                .width(150)
                .height(200);
  
        };


        reader.readAsDataURL(input.files[0]);
    }
}
</script>
<meta charset=utf-8 />
<title>JS Bin</title>
<!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<style>
  article, aside, figure, footer, header, hgroup, 
  menu, nav, section { display: block; }
</style>
</head>

<h2>{{ title }}.</h2>
<img id ="blah" src= "#" alt="your image"/>
<h3>{{ message }}</h3>
<h3>{{ message2 }}</h3>
<form  method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="document" onchange="readURL(this);" value="<?php echo htmlspecialchars($_POST['document']); ?>"/>
    <p>Select Language</p>
    <select title="Select language" name="language">
      <option value="la">Latin</option>
      <option value="af">Afrikaans</option>
      <option value="sq">Albanian</option>
      <option value="am">Amharic</option>
      <option value="ar">Arabic</option>
        <option value="hy">Armenian</option>
        <option value="az">Azerbaijani</option>
        <option value="eu">Basque</option>
        <option value="be">Belarusian</option>
        <option value="bn">Bengali</option>
        <option value="hr">Croatian</option>
        <option value="da">Danish</option>
        <option value="nl">Dutch</option>
        <option value="fr">French</option>
        <option value="de">German</option>
        <option value="ga">Irish</option>
        <option value="it">Italian</option>

    </select>
    <br/>
    <br />
    <button type="submit" >Translate</button>

</form>



{% endblock %}
