{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Translator</h1>
    <p class="lead">This is our translator app.</p>

</div>

<div class="row">
    <div class="col-md-6">
        <h2>Translate Image</h2>
        <p>
            Click below to translate a description of an image.
        </p>
        <p><a class="btn btn-primary btn-large" href="/image">Click here &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Translate a PDF</h2>
        <p>Click below if you would like to translate a pdf.</p>
        <p><a class="btn btn-primary btn-large" href="/pdf">Click here &raquo;</a></p>
    </div>
</div>

{% endblock %}
